<!DOCTYPE html>

{% load static %}
{% load static_hash %}

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		{% block meta %}
			<title>Главная</title>
			<meta name="twitter:title" content="Главная"/>
			<meta name="og:title" content="Главная"/>
		{% endblock %}

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image:src" content="{% static 'assets/logo.svg' %}"/>
		<meta name="og:image" content="{% static 'assets/logo.svg' %}" />
		<meta name="og:locale" content="ru_RU" />
		<meta name="og:type" content="website" />

		<link href="{% static_hash 'css/styles.css' %}" rel="stylesheet" />

		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="{% static 'favicons/favicon.svg' %}" />
		<link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}" />
		<meta name="apple-mobile-web-app-title" content="Доктор Милана" />
		<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}" />
	</head>
	<body>
		{% block header %}
			{% include 'includes/header.html' %}
		{% endblock %}

		{% block content %}
			<main>
			</main>
		{% endblock %}

		{% block footer %}
			{% include 'includes/footer.html' %}
		{% endblock %}

		{% include 'includes/orderModal.html' %}

		<button class="floatMenuBtn onlyMobile" type="button" aria-label="Открыть меню">
			<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.24658 18H27.7542" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
				<path d="M8.24707 27.0025H27.7547" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
				<path d="M8.24561 8.9975H27.7532" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
			</svg>
		</button>

		<link href="{% static_hash 'css/plugins.css' %}" rel="stylesheet" />
		<script src="{% static_hash 'js/plugins.js' %}"></script>

		<script src="{% static_hash 'js/main.js' %}"></script>
	</body>
</html>
