<!DOCTYPE html>

{% load static %}
{% load static_hash %}

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		{% block meta %}
			<title>Главная</title>
			<meta name="twitter:title" content="Главная"/>
			<meta name="og:title" content="Главная"/>
		{% endblock %}

		<link rel="canonical" href="{{ request.build_absolute_uri }}" />

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image:src" content="{% static 'assets/logo.svg' %}"/>
		<meta name="og:image" content="{% static 'assets/logo.svg' %}" />
		<meta name="og:locale" content="ru_RU" />
		<meta name="og:type" content="website" />

		<link href="{% static_hash 'css/styles.min.css' %}" rel="stylesheet" />

		<link rel="icon" type="image/png" href="{% static 'favicons/favicon-96x96.png' %}" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="{% static 'favicons/favicon.svg' %}" />
		<link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}" />
		<meta name="apple-mobile-web-app-title" content="Доктор Милана" />
		<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}" />
	</head>
	<body>
		{% block header %}
			{% include 'includes/header.html' %}
		{% endblock %}

		{% block content %}
			<main>
			</main>
		{% endblock %}

		{% block footer %}
			{% include 'includes/footer.html' %}
		{% endblock %}

		{% include 'includes/orderModal.html' %}

		<button class="floatMenuBtn onlyMobile" type="button" aria-label="Открыть меню">
			<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M8.24658 18H27.7542" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
				<path d="M8.24707 27.0025H27.7547" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
				<path d="M8.24561 8.9975H27.7532" stroke="white" stroke-width="3" stroke-linecap="square" stroke-linejoin="round" />
			</svg>
		</button>

		<link href="{% static_hash 'css/plugins.min.css' %}" rel="stylesheet" />
		<script src="{% static_hash 'js/plugins.min.js' %}"></script>

		<script src="{% static_hash 'js/main.min.js' %}"></script>

		{% if not venv.dev %}
			<!-- Yandex.Metrika counter -->
			<script type="text/javascript">
				(function(m,e,t,r,i,k,a){
					m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
					m[i].l=1*new Date();
					for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
					k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
				})(window, document,'script','https://mc.yandex.ru/metrika/tag.js?id=106499958', 'ym');

				ym(106499958, 'init', {ssr:true, webvisor:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
			</script>
			<noscript><div><img src="https://mc.yandex.ru/watch/106499958" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
			<!-- /Yandex.Metrika counter -->
		{% endif %}
	</body>
</html>
