<!DOCTYPE html>

{% load static %}
{% load static_hash %}

<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		{% block meta %}
			<title>Главная</title>
			<meta name="twitter:title" content="Главная"/>
			<meta name="og:title" content="Главная"/>
		{% endblock %}

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:image:src" content="{% static 'assets/logo.svg' %}"/>
		<meta name="og:image" content="{% static 'assets/logo.svg' %}" />
		<meta name="og:locale" content="ru_RU" />
		<meta name="og:type" content="website" />

		<link href="{% static_hash 'css/styles.css' %}" rel="stylesheet" />

		{% if not venv.dev %}
			<!-- Google Tag Manager -->
			<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
				new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
				j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
				'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
				})(window,document,'script','dataLayer','{{ venv.gtm }}');</script>
			<!-- End Google Tag Manager -->
		{% endif %}

		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
		<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
		<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#1ea262">
		<link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
		<meta name="apple-mobile-web-app-title" content="">
		<meta name="application-name" content="">
		<meta name="msapplication-TileColor" content="#1ea262">
		<meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
		{% include 'includes/header.html' %}

		{% block content %}
			<main>
			</main>
		{% endblock %}

		{% include 'includes/footer.html' %}

		<link href="{% static_hash 'css/plugins.css' %}" rel="stylesheet" />
		<script src="{% static_hash 'js/plugins.js' %}"></script>

		<script src="{% static_hash 'js/main.js' %}"></script>
		{% if not venv.dev %}
			<script src="{% static_hash 'js/seo.js' %}"></script>

			<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ venv.gtm }}"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
			<!-- End Google Tag Manager (noscript) -->
		{% endif %}
	</body>
</html>
